@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;}
    .form {
        background-color: white;
        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
      }
      
      .title {
        font-size: 50px;
        margin-bottom: 60px;
        margin-left: 40px;
      }
.inputall {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;
}.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  ::placeholder {
    color: transparent;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  .button {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgba(222, 95, 118, 1);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  .button:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgba(222, 95, 118, 1);
  }
  .input:focus {
    border: 2px solid rgba(222, 95, 118, 1);
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
  header {                      /*2.селектор элементов*/
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

h1 {                          /*2.селектор элементов*/
    position: absolute;
}
nav {                         /*2.селектор элементов*/
    margin: auto;
    background:rgba(219, 213, 213, 0.3);
    background-size: 40px;
    border-radius: 30px;
    padding: 20px 0 20px 45px;
}
nav > a[href]{                 /*3.селектор атрибутов*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: larger;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    transition: 0.1s linear;
}
nav > a[href]:hover{          /*4.селектор псевдоклассов*/
    color: #ff2a00;
}
.footer{
  text-align: center;
  margin-top: 100px;
  background: #080710;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.footer .row{
  width: 100%;
  margin: 1% 0%;
  color: gray;
  font-size: 20px;
}
.footer .row a{
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}
.footer .row a:hover{
  color: #fff;
}
.footer .row ul{
  width: 100%;
}
.footer .row ul li{
display: inline-block;
}